
@{
    ViewBag.Title = "Index";
}
<form id="frm">
  <div class="row">
    usuario:
    <input type="text" name="usuario" />
    password:
    <input type="password" name="password" />
    <input type="submit" class="btn btn-success" value="Login" />
  </div>
</form>
@section scripts{
    <script>
    $(document).ready(function () {
        $("#frm").submit(function (e){
            e.preventDefault();
             url="@Url.Content("~/Login/Login")"
            parametros = $(this).serialize();

            $.post(url, parametros, function (data){
                if (data == "ok") {
                    document.location.href = "@Url.Content("~/")"
                } else {
                    alert(data);
                }
            })
        })
    })

    </script>
}


